:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

center-view {
  z-index: 1;
}

left-view-info {
  z-index: 2;
}

right-view-scroll-container {
  z-index: 2;
}

main-status-symbols-layer {
  z-index: 3;
}