:host {
  display: block;
  position: absolute;
  width: 824px;
  height: 635px;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: 0.0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}